{% extends "base.html" %} 



{% block page_content %}
{% for project in projects %}
<div class="col-md-4">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a href="#"
               class="btn btn-primary">
                Read More
            </a>
        </div>
    </div>
</div>
{% empty %}
<div class="row">
<div class="col">
    <div class="card mb-2">
        <div class="card-body">
           <h3>Sorry, there is no contents</h3>
        </div>
    </div>
</div>
</div>

{%endfor%}



{% endblock page_content %}
